# This tells Git to use the .gitignore_global file for global ignores.
[core]
    excludesfile = ~/.gitignore_global

# Enable globally the "git config --global push.default current"
# and Git will automatically push to a branch of the same name on the remote
[push]
    default = current
